{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Update Student</title>
    <link rel="stylesheet" href="{% static 'students/style.css' %}">
</head>
<body>

<h2>Select Student to Update</h2>

<table>
{% for student in students %}
<tr>
    <td>{{ student.name }}</td>
    <td>
        <a class="edit-btn" href="{% url 'student_update' student.id %}">
            Edit
        </a>
    </td>
</tr>
{% endfor %}
</table>

<a class="back-btn" href="{% url 'dashboard' %}">⬅ Back</a>

</body>
</html>
